
.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  background-color: var(--background-color);
}

.hero-content {
  max-width: 50%;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-yellow-bar {
  width: 10px;
  background-color: #f7c948;
}

.hero h1 {
  font-size: var(--heading-font-size-xl);
  color: black;
  margin-bottom: 20px;
}

.hero p {
  font-size: var(--body-font-size-s);
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.hero-button {
  display: block;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: var(--body-font-size-xs);
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
}

.hero-button:hover {
  background-color: black;
  color: white;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content {
    max-width: 100%;
    padding: 20px;
  }
}
